<h1>
    Experity Sprint Dashboard
  </h1>

   <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container  matColumnDef="userStory">
        <mat-header-cell *matHeaderCellDef>User Story</mat-header-cell>
        <mat-cell *matCellDef="let userStory"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="developer">
        <mat-header-cell *matHeaderCellDef>Developer</mat-header-cell>
        <mat-cell *matCellDef="let developer"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="points">
        <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
        <mat-cell *matCellDef="let points"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="dev">
        <mat-header-cell *matHeaderCellDef>Dev</mat-header-cell>
        <mat-cell *matCellDef="let dev"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="sr">
        <mat-header-cell *matHeaderCellDef>SR</mat-header-cell>
        <mat-cell *matCellDef="let sr"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="test">
        <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>
        <mat-cell *matCellDef="let test"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="po">
        <mat-header-cell *matHeaderCellDef>PO</mat-header-cell>
        <mat-cell *matCellDef="let po"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="hold">
        <mat-header-cell *matHeaderCellDef>Hold</mat-header-cell>
        <mat-cell *matCellDef="let hold"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="done">
        <mat-header-cell *matHeaderCellDef>Done</mat-header-cell>
        <mat-cell *matCellDef="let done"></mat-cell>
    </ng-container>

    <ng-container  matColumnDef="actual">
        <mat-header-cell *matHeaderCellDef>Actual</mat-header-cell>
        <mat-cell *matCellDef="let actual"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    
</mat-table>
